---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import LoadingScreen from '../components/LoadingScreen.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
        <LoadingScreen></LoadingScreen>
		<BaseHead title="Trash 
        Panda Party Pack" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div>
                <h5>Dumpster dive into this minigame experience!</h5>

                <h3><a href="https://v3.globalgamejam.org/2023/games/trash-panda-party-pack-7" target="_blank">Trash Panda Party Pack</a></h3>

                <p>
                    was made in Unity for Global Game Jam 2023. 
                </p>

                <h3>My Role</h3>
                <p>
                    on TPPP was the <b>level designer</b>, for the Rootin' Raccoon minigame. 
                </p>

                <ul class="bullet-list">
                    <li>Create concepts for level presentation and design</li>
                    <li>Model the environmental assets in Blender</li>
                    <li>Assemble the assets in Unity.</li>
                </ul>
            </div>
            <!-- 
			<section>
				<ul>
					{
						posts.map((post) => (
							<li class="blog-list">
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
            -->
		</main>
		<Footer />
        <div style="margin:50px;"></div>
	</body>
</html>


<style>
    :root {
	--base-color:#201920;
	--base-shadow:#0e060c;
    --header-bg: rgb(212, 58, 37);
	--accent: #57ff81;
	--accent-dark: #2eb640;
	--text-color: white;
}
    body{
    }
    main {
        width: 45%;
    }
    .blog-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .blog-list li {
        width: calc(50% - 1rem);
    }
    .blog-list li * {
        text-decoration: none;
        transition: 0.2s ease;
        /*change this if selection cursor is added*/
    }
    .blog-list li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }
    .blog-list li:first-child img {
        width: 100%;
    }
    .blog-list li:first-child .title {
        font-size: 2.369rem;
    }
    .blog-list li img {
        margin-bottom: 0.5rem;
        border-radius: 1%;
    }
    .blog-list li a {
        display: block;
    }
    .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
    }
    .blog-list li a:hover h4,
    .blog-list li a:hover .date {
        color: rgb(var(--accent));
    }
    .blog-list a:hover img {
        box-shadow: var(--box-shadow);
    }
    .border-flourish{
        position:fixed;
        bottom:-50%;
        width:100%;
        height:auto;
    }
    .banner{
        object-fit: cover;
        border-radius: 0%;
        width: 100%;
    }

    @media (max-width: 720px) {
        .blog-list {
            gap: 0.5em;
        }
        .blog-list li {
            width: 100%;
            text-align: center;
        }
        .blog-list li:first-child {
            margin-bottom: 0;
        }
        .blog-list li:first-child .title {
            font-size: 1.563em;
        }
    }
</style>