---
let {title,image,logoIMG, engineIMG, engineLang,desc1,desc2,desc3,target} = Astro.props;
---

<a href={target}>
    <div class="project-box">
        
        <!-- <img src={logoIMG} alt="" class="logo-img">
        <img src={engineIMG} alt="" class="engine-img">-->
        <img src={image} alt={title} class="BG-img">
        <p>{engineLang}</p>
        <ul>
            <li>{desc1}</li>
            <li>{desc2}</li>
            <li>{desc3}</li>
        </ul>
    </div>
</a>

<style>
.project-box{
    border-radius: 0.5%;
    /*position:relative;*/
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BG-img{
    border-radius: 0.5%;
    width:100%;
    height:auto;
    object-fit:fill;
}

h4{
    margin-top:0em;
    margin-bottom:0em;
}
ul{
    margin-top:0em;
    margin-bottom:0em;
    
    padding-top:0em;
    padding-bottom:0em;
}
a{
    text-decoration: none;
}
li{
    color: rgba(var(--black), 100%);
}
.logo-img{
    position: absolute;
    left:0;
    right:0;
    margin:0.1em;   
    width:35%;  
    height:auto;
}
.engine-img{
    position: absolute;
    bottom:45%;
    right:0%;
    margin-right:0.5em;
    width:10%;
    height:auto;
}

p{
    position: absolute;
    bottom:32%;
    right:0%;
    margin-right:0.4em;
    height:auto;
    justify-content:right;
}
